*{

    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: #181818;
}

.header{

    display: block;
    text-align: center;
    font-size: 3rem;
    color: #F5C77A;
}

.container{

    
    width: 50vw;
    height: 80vh;
    display: grid;
    margin: auto;
    margin-top: 3rem;
    padding-top: 3rem;
    grid-template-rows: 1fr;
    grid-template-columns: 44% 1fr;
    gap: 1rem;  
     
}
.container:hover{
    transform: scale(1.05);
    box-shadow: 0 0 8px 4px  rgba(245, 199, 122, 0.6),
0 0 16px rgba(245, 199, 122, 0.35);
    transition-duration: 1.5s;
    transition-delay: 0.3s;

}

.subHeading{

    color: #F5C77A;
    font-size: 1.1rem;
}

.posterDetails{
    color: #e9e9e9;
}

.img{

    width: 100%;
    height: 100%;
    object-fit: contain;    
}

#infoMovie{

    padding-top: 1rem;
    line-height: 2;
}

@media (max-width: 1100px) {
    
    .container{

        
        width: 50vw;
        height: 80vh;
        display: grid;
        margin: auto;
        margin-top: 3rem;
        padding-top: 3rem;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
        gap: 1rem;  
        overflow-y: scroll;
        overflow-x: hidden;
    }


}