*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper{
    overflow-x: hidden;
    overflow-y: auto;
    width: 100vw;
    height:100vh;
}


h1{
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 4rem;
    font-size: 3rem;

}
.container{
    position: relative; 
    display: grid;
    margin: 0 auto;
    max-width: 1200px;
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-template-rows: 1fr 1fr 1fr; */
    overflow: hidden;
    gap: 2rem;  
    
}



.card{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    padding: 10px 10px 10px 10px;
    
}

img{
    
    border-radius: 20px ;
    object-fit: cover;
    width: 100%;
    height: 100%;
    filter: grayscale(100%);

}


.card:hover{

    filter: drop-shadow(0 0 10px #333);
    transform: scale(1.03);
    transition: 0.5s;
   
}
.card figcaption{
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 25px;
  width: 100%;
  height: 20%;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  opacity: 0;
  border-radius: 0 0 10px 10px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
  transition: 0.3s;
}
.card:hover figcaption {
  opacity: 1;
  transform: scale(1.03);
}  

img:hover{
    filter: grayscale(0%);
}

