*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.wrapper{
    
    
    height: 100vh;
    perspective: 50px;
    overflow-x: hidden;
    overflow-y: auto;
}

.container{

    
    display: flex;
    position: relative;


    /* align-content: center; ise temp hata re h  */
    align-items: center;
    height: 100%;
    /* width: 100%; */

    justify-content: center;
    transform-style: preserve-3d;
    z-index: -1;

}

#bg{
    position: absolute;
     
    
   transform: translateZ(-60px) scale(4) ;
    object-fit: cover;
    
}

#fg{
    position: absolute;
    
    transform: translateZ(-40px) scale(2);;
    object-fit: cover;

}

.descHeading{

    font-size: 5rem;
    padding: 0 2rem;

}


section{
    background-color: rgb(45,45,45);
    color:white;
    padding:5rem 0;

}
.desc{

    font-size:1.5rem;
    padding: 2rem
    ;

}

.bg{
    position:relative;
    width:100%;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height:500px;
}

h1{
    position: relative;  
    top:5rem;

    font-size:10rem;
    letter-spacing:4px;
    color:white;
    text-shadow:0 0 10px rgba(0,0,0,0.3);
}


.secHeading{
    position: absolute;
    background-color: white;   
    padding: 0.5rem 2.5rem;
    top:50%;
    left:50%;
    transform: translateX(-50%) translateY(-50%);
    color:black;
    font-size:3.5rem;
    font-weight:600;
 

}


.text{

    font-size: 1.5rem;
    padding: 0 10rem;
    margin: 5rem 0;
}

.bg1{

    background-image: url(sport-1.jpg);
}

.bg2{

    background-image: url(sport-2.jpg);
}

.bg3{

    background-image: url(sport-3.jpg);
}