*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.wrapper{

    /* because the text was hidden behind the background-image so to make it float over the image parent has to be non static  */
    position: relative;
}
.bg{

    display: flex;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    width: 100vw;
    background-attachment: fixed;
}
 
.text{

    color: white;
    
}
.bg1{
    
    background-image: url(background-image.jpg);
    
}
body {
  font-family: 'Inter', sans-serif;
}

.glow {
    color: white;
    padding-top:110px;
    font-size: 5rem;
    text-shadow:
        0 0 5px rgba(255,255,255,0.7),
        0 0 5px rgba(255,255,255,0.8),
        0 0 3px rgba(255,255,255,1);
}

.text{
    font-size: 3rem;
}
.text2{

    color: wheat;
    padding-bottom: 3rem;
    font-size: 2rem;
}
ul{
    padding-left: 30px;
}
.about{

    background-color:#222222;
    color: white;
}
.secHeading{

    padding-top: 3rem;
    padding-bottom: 3rem;
}
.listHeader{
    padding-top: 1rem;
    padding-bottom: 2rem;
    

}

#searchField{

    width: 30vw;
    height: 5vh;
}

#submitButton{

    position: relative;
    margin: auto;
    display: block;
    background-color: rgb(247, 52, 52);
    color: white;
    width: 5vw;
    height: 5vh;

    /* we want the button text to appear not hide behind the black background of before */
    z-index: 1;
    padding: 0px;

}

#submitButton::before{

    /* to  make the text float over the image */
    position: absolute;

    content: "";
    width: 100%;
    height: 100%;
    inset: 0;

    background-color: black;

    transform: scaleX(0);  

    /*to add a layer sort of behing the go  */
    z-index: -1;

    transition-duration:0.6s ;
    transition-property: transform;
    transform-origin: left;
    transition-timing-function: ease-in;
    transition-delay: 0.2s;
}

#submitButton:hover::before{

    transform: scaleX(1);

}

